# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
chat/chat.pro.user
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.qmake.stash
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/debug/moc_clients.cpp
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/debug/moc_userinterface.cpp
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/debug/qrc_resources.cpp
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/Makefile
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/Makefile.Debug
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/Makefile.Release
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/ui_userinterface.h
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp6daaxc
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpjhpm06
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpmrdzmz
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpu6oeos
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpvc3pey
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpvzdgpt
build-chat-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpy3__dv
